<!-- User Account Header -->
        <div class="container d-flex justify-content-center col-6">
            <div class="d-block py-3 my-3">
                <div class="justify-content-center">
                    <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" class="rounded-circle img-thumbnail" width="240" height="240" alt="profile picture">
                </div>
                <div class="text-dark text-decoration-none">
                    <h1 class="mt-4 mb-5"><%= @user.first_name %> <%= @user.last_name %></h1>
                </div>
                    <!-- <a href="/docs/5.2/examples/" class="btn btn-primary btn-sm m-1">Buy</a>
                    <a href="/docs/5.2/examples/" class="btn btn-warning btn-sm m-1">Sell</a> -->
            </div>
        </div>


<!-- Events -->
<div class="container">
    <div class="row g-5">
        <div class="col-md-6">
            <h3 class="pb-4 mb-4 fst-italic border-bottom">Your Booked Events</h3>
              <% @user.bookings.each do |booking| %>
                <div class="h-90 p-5 text-white bg-dark rounded-3 my-4">
                  <h2><%= booking.event.name %></h2>
                  <p><%= booking.event.description %></p>
                  <p><%= booking.event.location %></p>
                  <%= link_to "View Event", event_path(booking.event), class: "btn btn-outline-light" %>
                </div>
              <% end %>
        </div>

        <div class="col-md-6">
            <h3 class="pb-4 mb-4 fst-italic border-bottom">Your Listed Events</h3>

            <div class="position-sticky">
            <% @user.events.each do |event| %>
                <div class="h-90 p-5 text-white bg-dark rounded-3 my-4">
                    <h2><%= event.name %></h2>
                    <p><%= event.description %></p>
                    <p><%= event.location %></p>
                    <%= link_to "View Event", event_path(event), class: "btn btn-outline-light" %>
                </div>
              <% end %>
            </div>
        </div>
    </div>
</div>
