
<!-- hero/banner section -->
<div class="px-4 py-4 my-2 mb-1 text-center">
    <h1 class="display-5 fw-bold"><%= @event.name %></h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4 text-black"><%= @event.description %></p>
    </div>
</div>
<!-- photo and description -->
<div class="container col-xxl-8 px-4 py-2">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <%= cl_image_tag @event.photo.key, height: 225, crop: :fill %>
        </div>
        <div class="col-lg-6">
            <h1 class="lead text-black fw-bold">Location:<%=  @event.location %></h1>
            <h1 class="lead text-black fw-bold">Date:<%= @event.date %></h1>
            <p class="lead text-black fw-bold">Maximum capacity for the event <%= @event.capacity %> Persons</p>
            <h2 class="display-7 fw-bold lh-1 mb-3">Price: Rs<%= @event.price %></h2>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <%= render "bookings/new", event_id: @event.id, id: @booking %>
            <%= link_to "Review", new_booking_review_path(booking_id: @current_user_booking.id), class: "btn btn-warning btn-lg px-4 text-white" %>
            </div>
        </div>
    </div>
</div>

<!-- Review Section -->
<div class="container px-4 py-2">
    <h2 class="pb-2 border-bottom">Reviews</h2>
    <div class="list-group w-auto">
        <% if @event.reviews.empty? %>
            <small><em class="text-muted">Be the first one to review this list</em></small>
        <% end %>
        
        <% @event.bookings.each do |booking| %>
            <div class="container">
            <% booking.reviews.each do |review| %>
                <a href="#" class="list-group-item list-group-item-action d-flex bg-black text-white gap-3 py-3" aria-current="true">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-square" viewBox="0 0 16 16"><path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/><path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1v-1c0-1-1-4-6-4s-6 3-6 4v1a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12z"/></svg>        
                    <div class="d-flex gap-2 w-100 justify-content-between">
                    <div>
                        <p class="mb-0"><%= booking.user.first_name %></p>
                        <p class="mb-0"> Rating: <%= review.rating %>/5</p>
                        <p class="mb-0"><%= review.content %></p>
                    </div>
                    <small><em class="opacity-50 text-nowrap"><%= distance_of_time_in_words_to_now(review.created_at) %> ago</em></small>
            </div>
                    </a>
                    <% end %>
            <% end %>
    </div>
</div>
