  <div>
    <%= render '/pages/banner' %>
  </div>


<div class="container">
    <div>
      <h1><strong><%= @event.name %></strong></h1>
    </div>
    <div>
      <%= @event.description %>
    </div>
    <div>
      <%= @event.location %>
    </div>
    <div>
      <%= @event.price %>
    </div>
</div>
