<%= render 'banner' %>

<div class = 'container'>
<div class = 'search'>
    <%= render 'search' %>
</div>
    <div class = 'category-container'>
        <div>
            <p>Sports</p>
        </div>
        <div class="d-flex" >
            <%= render 'card' %>
            <%= render 'card' %>
            <%= render 'card' %>

        </div>

    </div>
      <div class = 'category-container'>
        <div>
            <p>Cinemas</p>
        </div>
        <div class="d-flex" >
           <div class="card-trip">
  <img src="https://upload.wikimedia.org/wikipedia/en/thumb/f/ff/The_Batman_%28film%29_poster.jpg/220px-The_Batman_%28film%29_poster.jpg" />

  <div class="card-trip-infos">
    <div>
      <h2>Batman </h2>
      <p>The Batman is a 2022 American superhero film based on the DC Comics character Batman</p>
    </div>
    <h2 class="card-trip-pricing">£99.99</h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>
</div>

<div class="card-trip">
  <img src="https://ychef.files.bbci.co.uk/1280x720/p03mtkvn.webp" />
  <div class="card-trip-infos">
    <div>
      <h2>Titanic </h2>
      <p>Titanic, American romantic adventure film, released in 1997, that centres on the sinking of the RMS Titanic</p>
    </div>
    <h2 class="card-trip-pricing">£99.99</h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>
</div>

<div class="card-trip">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="card-trip-infos">
    <div>
      <h2>Jurassic Park </h2>
      <p>Pick your perfect location with Official Platinum Seats to see him live.!</p>
    </div>
    <h2 class="card-trip-pricing">£99.99</h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>
</div>

        </div>

    </div>

<div class = 'category-container'>
        <div>
            <p>Concerts</p>
        </div>
        <div class="d-flex" >
            <%= render 'card' %>
            <%= render 'card' %>
            <%= render 'card' %>

        </div>

</div>
