<%= render 'banner' %>

<div class = 'container'>
<div class = 'search'>
    <%= render 'search' %>
</div>
    <div class = 'category-container'>
        <div>
            <p>Category</p>
        </div>
        <div>
            <%= render 'card' %>
            <%= render 'card' %>
            <%= render 'card' %>
        </div>
    </div>
</div>
